.card {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
}
.cardContent {
  display: flex;
  flex-direction: column;
  width: 240px;
  height: 140px;
  z-index: 1;
  overflow: hidden;
  border-radius: 6px;
}
.poster {
  width: 100%;
  object-position: 50% 0%;
}
