header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
  padding: 0 4%;
  background: linear-gradient(#060606, #141414);
}
header > h1 {
  text-transform: uppercase;
  color: red;
  font-size: 1rem;
}

.searchIcon {
  filter: invert(1);
  width: 18px;
  height: 18px;
  transform: rotate(-15deg);
}
