.watchlistMovie {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  padding: 4px 20px;
  border: solid 2px #1670ba;
  border-radius: 4px;
}

.watchlistMovieInfo {
  display: flex;
  gap: 12px;
}

.watchlistMovieImage {
  display: flex;
  width: 72px;
  height: 100%;
  overflow: hidden;
  border-radius: 4px;
}
.watchlistMovieImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
}

.watchlistMovieContent h2 {
  max-width: 240px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.watchlistMovieInteractions {
  display: flex;
  align-items: center;
  gap: 12px;
  height: 100%;
}
.watchlistWatched,
.watchlistDelete {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.watchlistMovieInteractions img {
  width: 28px;
  height: 28px;
}
.watchlistWatched:hover img {
  filter: invert(32%) sepia(72%) saturate(872%) hue-rotate(107deg)
    brightness(97%) contrast(105%); /* #00813a */
}
.watchlistDelete:hover img {
  filter: invert(50%) sepia(53%) saturate(1080%) hue-rotate(322deg)
    brightness(72%) contrast(109%); /* #bc453b */
}
