.card {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}
.cardContent {
  display: flex;
  flex-direction: column;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  border-radius: 6px;
}
.poster {
  width: 100%;
  object-position: 50% 0%;
}
