.main {
  padding: 40px;
}

.searchResult {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 40px;
  width: 100%;
  padding-block: 40px;
}
.searchResult > span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 2.4rem;
  color: #555;
}
