.main {
  padding: 40px 4%;
}

.searchResult {
  display: grid;
  grid-auto-rows: 140px;
  grid-template-columns: repeat(auto-fit, 240px);
  /* grid-auto-flow: column; */
  align-items: center;
  justify-content: center;
  column-gap: 6px;
  row-gap: 70px;
  width: 100%;
  padding-block: 40px;
}
.searchResult > span {
  display: flex;
  align-items: center;
  position: absolute;
  left: 4%;
  height: 100%;
  font-size: 2.4rem;
  color: #555;
}

.watchlist-movies {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
  width: 100%;
  padding-block: 40px;
  position: relative;
  background-color: red;
}
