@font-face {
  font-family: Netflix-Sans;
  src: url(./fonts/NetflixSans-Light.otf);
  font-weight: 300;
}
@font-face {
  font-family: Netflix-Sans;
  src: url(./fonts/NetflixSans-Regular.otf);
  font-weight: 400;
}
@font-face {
  font-family: Netflix-Sans;
  src: url(./fonts/NetflixSans-Medium.otf);
  font-weight: 500;
}
@font-face {
  font-family: Netflix-Sans;
  src: url(./fonts/NetflixSans-Bold.otf);
  font-weight: 600;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Netflix-Sans;
}

#error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #dddddd;
  color: #444444;
  min-width: 480px;
  width: 100%;
  min-height: 480px;
  height: 100vh;
  place-items: center;
  margin: auto;
}
